#!/usr/bin/make -f

include /usr/share/cdbs/1/class/javahelper.mk

ECLIPSE_JFACE_JAR := $(shell find /usr/lib/eclipse/plugins/org.eclipse.jface_*.jar)
ECLIPSE_COMMANDS_JAR := $(shell find /usr/lib/eclipse/plugins/org.eclipse.core.commands_*.jar)

export CLASSPATH := androidsdk-common.jar:androidsdk-androidprefs.jar:/usr/share/java/swt.jar:$(ECLIPSE_JFACE_JAR):$(ECLIPSE_COMMANDS_JAR)

common-post-build-indep::
	for BNDFILE in debian/*.bnd; do \
		JARNAME=`basename $$BNDFILE .bnd`.jar; \
		bnd wrap -properties $$BNDFILE -output $$JARNAME $$JARNAME; \
	done
